# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
*.pot
*.pyc
/media
/staticfiles
.env

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

#BD
seed_products_backup.json
seed_products.py
backup
upload_cloudinary.py